* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.card {
    background: rgb(245, 245, 245);
    border-radius: 4px;
    cursor: pointer;
    width: 343px;
}
.card:hover {
    box-shadow: inset 0 0 0 4px rgb(168,155,123);
}
.cardHeader {
    color: rgb(178, 167, 140);
    display: flex;
    justify-content: space-between;
    padding: 26px;
    font-family: "Arial", sans-serif;
    font-size: 14px;
    text-transform: uppercase;
}
.dropDown {
    align-items: center;
    cursor: pointer;
    display: flex;
}
.arrow {
    background: url("./icons/down-arrow.svg") 0 0 no-repeat;
    background-size: contain;
    display: inline-block;
    height: 11px;
    margin-left: 8px;
    width: 16px;
}
.colors {
    display: flex;
}
.color {
    border-radius: 50%;
    cursor: pointer;
    display: block;
    height: 24px;
    margin-left: 4px;
    width: 24px;
}
.cardBody {
    height: 235px;
    text-align: center;
    width: 100%;
}
.cardBody img {
    height: 100%;
}
.cardFooter {
    color: rgb(178, 167, 140);
    display: flex;
    font-family: "Arial", sans-serif;
    font-size: 14px;
    justify-content: space-between;
    padding: 26px;
    text-transform: uppercase;
}
.price {
    color: rgb(66,66,66);
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1px;
}